.page-checkout {
  padding: 4rem 0;

  &__title {
    margin-bottom: 4rem;
    font-size: 3.2rem;
    font-weight: 700;

    @media screen and (max-width: 576px) {
      font-size: 2.4rem;
      margin-bottom: 2.5rem;
    }
  }
}

.checkout {
  display: flex;
  gap: 4rem;
  align-items: flex-start;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  &__col {
    &--form {
      flex: 1;
    }

    &--summary {
      width: 42rem;
      flex-shrink: 0;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }
}
