NUXT_PUBLIC_WP_URL=http://wp-maxkebab.local/wp-json
NUXT_PORT=4000

WOOCOMMERCE_URL=http://wp-maxkebab.local
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=

WP_API_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_TO=seriiburduja@gmail.com
