.page-terms {
  padding: 22rem 0;

  @media screen and (max-width: 1200px) {
    padding: 17rem 0 5rem;
  }

  @media screen and (max-width: 576px) {
    padding: 11rem 0 5rem;
  }

  p {
    margin-bottom: 3rem;
  }
}