.page-privacy {
  position: relative;
  padding-top: 16rem;
  padding-bottom: 5rem;

  @media screen and (max-width: 992px) {
    padding-top: 10rem;
  }

  @media screen and (max-width: 576px) {
    padding-top: 7rem;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .red {
    display: inline-block;
    color: red;
    border: 1px solid red;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }

  table {
    border-collapse: collapse;

    th {
      color: white;
      background-color: #444;
    }

    th,
    td {
      padding: 1rem 2rem;
      border: 1px solid #aaa;
    }
  }

  ul,
  ol {
    li {
      margin-bottom: 1rem;
      line-height: 2.5rem;
    }
  }

  p {
    margin-bottom: 1rem;
  }
}