.cart-icon {
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }

  &__header {
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.6rem;
    font-size: 3.2rem;
    color: red;
    border-bottom: 1px solid #e0e0e0;
    @media screen and (max-width: 992px) {
      display: flex;
    }
  }
}

.widget_shopping_cart_content {
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-color: #999 transparent;

  /* Firefox */
  scrollbar-width: thin;

  /* Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }
}

.cart-icon .cart-contents {
  position: absolute;
  right: 1.2rem;
  bottom: 0.01rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.1rem;
  height: 2.1rem;
  font-size: 1.1rem;
  font-weight: 800;
  color: white;
  background-color: var(--color-brown);
  border: 1px solid white;
  border-radius: 50%;

  .amount {
    position: relative;
    top: 1px;

    @media (max-width: 1200px) {
      top: 0;
    }
  }
}

.cart-icon svg {
  width: 30px;
  fill: transparent;
  stroke: white;

  path {
    stroke: var(--accent-dark);
  }
}

.cart-icon .widget_shopping_cart {
  position: absolute;
  top: 72px;
  left: -266px;
  display: none;
  width: 340px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 20%);
  z-index: 10;

  @media screen and (max-width: 1200px) {
    top: 62px;
  }

  @media screen and (max-width: 992px) {
    top: 54px;
  }

  @media screen and (max-width: 576px) {
    left: initial;
    right: -12rem;
  }
  @media screen and (max-width: 350px) {
    width: 96vw;
  }
}

.cart-icon .woocommerce-mini-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;

  // @media screen and (max-width: 360px) {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  //   width: 100%;
  // }
  .variation {
    display: block;
    order: 3;
    margin-bottom: 0;
    width: 100%;

    p {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    dd {
      margin-left: 3rem;
    }

    dt,
    dd {
      font-size: 1.2rem;
      text-align: left;

      @media screen and (max-width: 360px) {
        display: inline-block;
      }
    }

    dt {
      width: 4rem;
      font-weight: bold;
      text-align: left;
    }
  }
}

.cart-icon .woocommerce-mini-cart {
  padding: 0;
}

.cart-icon .woocommerce-mini-cart-item:nth-of-type(even) {
  background-color: #f8f8f8;
}

.cart-icon .woocommerce-mini-cart-item .remove_from_cart_button {
  margin-right: 10px;
  font-size: 18px;
  color: #b3b3b3;
  transition: all 0.2s;
}

.cart-icon .woocommerce-mini-cart-item .remove_from_cart_button:hover {
  color: #b30033;
}

.cart-icon .woocommerce-mini-cart-item .remove_from_cart_button + a {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  color: #414141;
  text-decoration: none;

  &:hover {
    color: var(--color-red);
  }
}

.cart-icon .woocommerce-mini-cart-item img {
  margin-right: 10px;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
}

.cart-icon .woocommerce-mini-cart-item .quantity {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  // text-align: right;
  // width: 100%;
  margin: 0 auto;
  margin-right: 0;
  width: auto;

  // display: none;
  font-size: 1.2rem;
}

.cart-icon .woocommerce-mini-cart__total,
.cart-icon .woocommerce-mini-cart__buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 700;
}

.cart-icon .woocommerce-mini-cart__buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.cart-icon .woocommerce-mini-cart__buttons a {
  margin-top: 5px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: var(--color-brown);
  border-radius: 1px;
  border-radius: 1rem;
  transition: all 0.2s;
}

.cart-icon .woocommerce-mini-cart__buttons a:hover {
  // text-decoration: underline;
  background-color: var(--color-red-light);
}

.cart-icon .woocommerce-mini-cart__buttons a:nth-of-type(2) {
  background-color: var(--text-color);
  border: 1px solid var(--text-color);
}

// .cart-icon .woocommerce-mini-cart__buttons a:nth-of-type(2):hover {
//   background-color: lighten(var(--text-color), 4%);
// }
.woocommerce-mini-cart__empty-message {
  padding: 1rem;
}

.cart-icon .woocommerce-Price-currencySymbol {
  margin-left: 0.5rem;
}

.cart-icon .woocommerce-Price-amount bdi {
  display: flex;

  // flex-direction: row-reverse;
}
