// grid
$xs: 320px;
$md: 768px;
$xl: 1150px;

:root {
  --accent-dark: #68273d;
  --accent: #509289;
  --accent-light: #e5f3f1;
  --text-color: #060805;
  --text-light: #909090;
  --contrast: #c1bb63;
  --color-brown: #633;
  --color-brown-darken: #4d2626;
  --color-brown-light: #7a3d3d;
  --color-red: #d53729;
  --color-red-light: #f2a19a;
  --color-yellow: #f9f5d5;
  --color-green: #4cad4b;
  --font-1: "Nunito Sans", sans-serif;
}
