.follow-block {
  padding: 6rem 0;
  text-align: center;
  background-color: var(--color-red);

  &__headline {
    h2 {
      margin-bottom: 1rem;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 5.4rem;
      color: #fff;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-weight: 400;
      line-height: 3.5rem;
      color: #fff;

      svg {
        margin-right: 1.5rem;
      }

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__gallery {
    margin-top: 8rem;

    img {
      width: 29rem;
      height: 29rem;
      border-radius: 4rem;
      object-fit: cover;
    }

    .item {
      display: flex;
      justify-content: center;
    }

    .slick-dots {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-top: 5rem;
      list-style-type: none;

      li {
        margin: 0 0.5rem;
      }

      button {
        display: block;
        padding: 0;
        width: 2rem;
        height: 2rem;
        background: #b5b5b5;
        border: 1px solid var(--color-red);
        border-radius: 100%;
        cursor: pointer;
        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: #fff;
      }
    }
  }
}