.cart-total {
  flex-shrink: 0;
  order: 2;
  width: 50%;

  @media screen and (max-width: 768px) {
    margin-bottom: 4rem;
    width: 100%;
  }

  &__title {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
  }

  &__table {
    margin-bottom: 3rem;
    border: 1px solid var(--color-brown-dark);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.4rem;
    border-bottom: 1px solid var(--color-brown-dark);

    &:last-child {
      border-bottom: none;
    }

    &--total {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  &__label {
    font-weight: 600;
  }

  &__value {
    text-align: right;
  }

  &__checkout {
    display: flex;
  }

  &__checkout-btn {
    display: block;
    padding: 1.6rem;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: var(--color-brown);
    border-radius: 0.8rem;

    &:hover {
      background-color: var(--color-brown-darken);
    }
  }
}
