.shipping-cost {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  padding: 1.6rem;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  border: 1px solid #e0e0e0;
  z-index: 1000;
  @media screen and (max-width: 768px) {
    padding: 3.2rem 1.6rem 6.4rem;
    flex-direction: column;
    gap: 1.6rem;
  }
  &.shipping-cost--hidden {
    display: none;
  }
  &__remaining--available {
    color: #3c833f;
  }
}
